<%= render "shared/header" %>

<% @posts.each do |post| %>
  <div>
    <%= link_to  post_path(post.id) do %>
    <h2><%= post.title %></h2>
    <% end %>
    <P><%= post.text %></P>
    <%= post.tag_list %>
  </div>
<% end %>

<%# React %>
<%# <%= react_component('HelloWorld', greeting: 'Mike') %>

<%= render "shared/footer" %>

