<%= render "shared/header" %>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <P><%= post.text %></P>
    <%= post.tag_list %>
  </div>
<% end %>

<%= render "shared/footer" %>